/* This sets up everything to display correctly. */

body {
  margin: 0;
}

#stuff {
  position: absolute;
  display: grid;
  grid-template-columns: 400px;
  grid-auto-rows: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
